**/target
/*.wav
/out/
/projects/**/*.mp3
/projects/**/*.wav
/target
Cargo.lock
groove-cli.exe
groove-gui.exe
perf-output.txt
test-data/perf-1.wav
settings/test-data/voice_basic_test_c_4.wav
settings/test-data/voice_cello_c_4.wav
