[Desktop Entry]
Name=Groove (egui)
Comment=Make music
Exec=/usr/bin/groove-egui
Icon=audio-speakers
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;AudioVideo;Education;
